
@font-face {
    font-family: 'Franklin Gothic';
    src: url('FranklinGothic-Heavy.woff2') format('woff2'),
        url('FranklinGothic-Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
font-family: 'Franklin Gothic';
background-color: #3B8DF4;
color:  white;
}

a {
    text-decoration: none;
}


.topnav{
float:  right;
font-size:2vw;
}


.topnav *:hover{
 color: black;
}

#labuta{
	padding-top: 80px;
}
#labuta label{
font-size:3vw;
}

#busc_botao {
 font-family: 'Franklin Gothic';
 font-size:3vw;
 padding: 5px 7px;
 display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

#busc_botao:hover{
    color: white;
    background-color: #3B8DF4;
}